.header_main_wrapper {
  text-align: center;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  padding-top: 150px;
}

.main_header_title_small {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: var(--color-dark-text);
  font-weight: 300;
}

.main_header_title {
  text-align: center;
  font-family: "Anton", sans-serif;
  letter-spacing: 1rem;
  font-size: 3rem;
  color: var(--color-dark-text);
  z-index: 10;
}

.hero_icons {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 40px 0;
}

.hero_icon {
  color: var(--color-pink-2);
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}

.container_hero_buttons {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.hero_buttons > a {
  color: var(--beige-background-color);
  padding: 10px 20px;
  background-color: var(--color-pink-2);
  font-size: 12px;
  margin: 5px;
  border-radius: 6px;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  transition: var(--transition-links);
}

.hero_buttons:hover {
  opacity: 0.6;
}

/* ============== MEDIA QUERIES ============ */

@media screen and (max-width: 750px) {
  .main_header_title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 520px) {
  .main_header_title {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 450px) {
  .header_main_wrapper {
    width: 95%;
  }
  .main_header_title {
    font-size: 1.5rem;
  }
}
