.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.card {
  background: var(--beige-background-color);
  padding: 25px 35px;
  border-radius: 6px;
  min-width: 312px;
}

.card_title {
  color: var(--color-dark-text);
  font-family: "DM sans", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 45px;
  letter-spacing: 2px;
}

.card_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-top: 1.5em;
}

.card_content_inner {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.card_content_inner_icon {
  color: var(--color-pink-2);
  margin-right: 5px;
  opacity: 0.8;
  font-size: 15px;
}

.card_paragraph {
  color: var(--color-dark-text);
  font-weight: 400;
  font-family: "DM sans", sans-serif;
  font-size: 13px;
}

.card.wid.last_card {
  display: flex;
  align-items: center;
}

.last_card_paragraph {
  text-align: center;
  color: var(--color-dark-text);
  font-family: "DM sans", sans-serif;
  font-size: 13px;
  line-height: 1.7em;
  font-weight: 400;
}

/*=========== MEDIA QUERIES (SMALL DEVICES, PHONES) ===========*/

@media screen and (max-width: 750px) {
  .cards.wid {
    justify-content: center;
  }

  .cards {
    grid-template-columns: 1fr;
    display: flex;
    justify-content: space-evenly;
  }

  .card {
    justify-content: center;
    width: 100%;
  }
}
